.userAvatar {
  background: red;
  border: none;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  border-radius: 50%;
  grid-column: span 4;
  cursor: pointer;
  width: 50px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
}
